#background-home{
    width:100%;
    background-image: url('../images/background-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

h1, h2
{
    text-align:center;
    color: white;
    text-shadow:2px 2px #333;
}
h3
{
    font-size:1.3em;
    margin-bottom:0;
}
.news p
{
    margin-top:0;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

#message{
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

#post-comment{
    padding-top: 3.5%;
}

            /* ADMIN PAGE */

.admin-hero{
    background-image: url('../images/admin-hero.png');
}