#background-home{
    width:100%;
    background-image: url('../images/alaska-2964658_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.image-home-hero{
    padding-top: 1%!important;
}

.blockquote, .blockquote-footer{
    color: white;
}

.title-white-shadow
{
    text-align:center;
    color: white;
    text-shadow:2px 2px #333;
}
.title-gray-shadow{
    text-align:center;
    color: gray;
    text-shadow:2px 2px darkslategray;
}
h3
{
    font-size:1.3em;
    margin-bottom:0;
}
.news p
{
    margin-top:0;
}
.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.home--pitch-card{
    margin-top: 4%;
    margin-bottom: 4%;
}

            /* COMMENTARY */

#post-comment{
    padding-top: 3.5%;
}

            /* ADMIN PAGE */

.admin-hero{
    background-image: url('../images/chap-img-1.jpg');
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

.admin-hero--container{
    padding: 2% 4%;
}

.admin--quit-page-link{
    color: gold;
    text-shadow:2px 2px #333;
}

.admin--quit-page-link:hover{
    color: #60A5FF;
}

#message{
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}

.admin--old-chapter{
    color: black;
    margin-bottom: 3%;
    text-align: center;
}